## Tp 4 : Manipulation du texte avec pandas
Dans ce notebook, nous effectuons quelques opérations de base sur du texte avec pandas

In [ ]:
import pandas as pd

Soit la liste de texte suivant

In [3]:
text_list = ["N de N français + 2021", "gondwanais du #Nord", "président de la @république",
             "gondwanais de la @république", "gondwanais du #Sud", "président de la gondwanais",
             "je,gondwane,le,president,de,la,gondwanais,15",
             "visite d’Etat enrépublique très très démocratique du Gondwana", 
             "traducteur automatique français/gondwanais v2.0"]

Créons un dataframe à l'aide de cette liste de textes

In [4]:
df = pd.DataFrame(data=text_list, columns=["text"])
df

                                                text
0                             N de N français + 2021
1                                gondwanais du #Nord
2                        président de la @république
3                       gondwanais de la @république
4                                 gondwanais du #Sud
5                         président de la gondwanais
6       je,gondwane,le,president,de,la,gondwanais,15
7  visite d’Etat enrépublique très très démocrati...
8    traducteur automatique français/gondwanais v2.0

Nombre de caractères par enregistrement

In [5]:
df['text'].str.len()

0    22
1    19
2    27
3    28
4    18
5    26
6    44
7    61
8    47
Name: text, dtype: int64

Nombre de mots dans chaque enregistrement

In [6]:
df["text"].str.split().str.len()

0    6
1    3
2    4
3    4
4    3
5    4
6    1
7    8
8    4
Name: text, dtype: int64

Quels sont les entrées qui contiennent le mot "président"?

In [7]:
df['text'].str.contains("président")

0    False
1    False
2     True
3    False
4    False
5     True
6    False
7    False
8    False
Name: text, dtype: bool

Quels est le nombre de chiffres par ligne?

In [8]:
df['text'].str.count(r"\d")

0    4
1    0
2    0
3    0
4    0
5    0
6    2
7    0
8    2
Name: text, dtype: int64

Rechercher tous les chiffres dans chaque enregistrement

In [9]:
df["text"].str.findall(r"\d")

0    [2, 0, 2, 1]
1              []
2              []
3              []
4              []
5              []
6          [1, 5]
7              []
8          [2, 0]
Name: text, dtype: object

Rechercher tous les chiffres et les insérer dans une nouvelle colonne

In [16]:
df["text"].str.extractall(r"(\d)")

         0
  match
0 0      2
  1      0
  2      2
  3      1
6 0      1
  1      5
8 0      2
  1      0

Créer une nouvelle colonne "nombre" contenant tous les nombres

In [18]:
df["text"].str.extractall(r"(?P<nombre>\d+)")

        nombre
  match
0 0       2021
6 0         15
8 0          2
  1          0

Supprimons les caractères # et @ de ces enregistrement

In [13]:
df['text'].str.replace(r'#*|@*', "")

0                               N de N français + 2021
1                                   gondwanais du Nord
2                           président de la république
3                          gondwanais de la république
4                                    gondwanais du Sud
5                           président de la gondwanais
6         je,gondwane,le,president,de,la,gondwanais,15
7    visite d’Etat enrépublique très très démocrati...
8      traducteur automatique français/gondwanais v2.0
Name: text, dtype: object

## Travail à faire